/* Intestazione pagina */
header {
    background-color: #57a9ff;
    background-image: url(img/pattern.png);
    background-size: 260px;
    margin-right: 450px;
    background-repeat: repeat;
}   

main {
    margin-right: 450px;
    display: inline-block;
}
    
.logo {
    width: 15%;
    margin-top: 30px;
    margin-left: 10px;
}    

/* Titolo */
.info-titolo {
    color: #bcbca9;
}

#the-booleaner {
    color: #57a9ff;
}

.data {
    font-size: 12px;
}

/* Aggiunta foto */
.prima-foto {
    width: 450px;
    height: 312px;
}

.seconda-foto {
    width: 400px;
}

.info-foto {
    font-size: 12px;
}

/* Primo paragrafo */
.evidenziato {
    background-color: yellow;
}

/* Lista non-ordinata */
.lista-ul {
    margin-top: 30px;
    text-align: left;
}



    