header {
    background-color: #57a9ff;
    background-image: url(img/pattern.png);
    background-size: 260px;
    margin-right: 500px;
    background-repeat: repeat;
}   

main {
    margin-right: 500px;
    display: inline-block;
}
    
.logo {
    width: 15%;
    margin-top: 30px;
    margin-left: 10px;
}    

.info-titolo {
    color: #bcbca9;
}

.evidenziato {
    color: #57a9ff;
}

.data {
    font-size: 12px;
}






    